{
	BGS_CHATTER = "bgs-chatter00.ogg|bgs-chatter01.ogg|bgs-chatter02.ogg|bgs-chatter03.ogg|bgs-chatter04.ogg|bgs-chatter05.ogg|bgs-chatter06.ogg|bgs-chatter07.ogg|bgs-chatter08.ogg|bgs-chatter09.ogg|bgs-chatter0A.ogg|bgs-chatter0B.ogg|bgs-chatter0C.ogg|bgs-chatter0D.ogg|bgs-chatter0E.ogg|bgs-chatter0F.ogg|bgs-chatter10.ogg|bgs-chatter11.ogg|bgs-chatter12.ogg|bgs-chatter13.ogg|bgs-chatter14.ogg|bgs-chatter15.ogg|bgs-chatter16.ogg|bgs-chatter17.ogg|bgs-chatter18.ogg|bgs-chatter19.ogg|bgs-chatter1A.ogg|bgs-chatter1B.ogg|bgs-chatter1C.ogg|bgs-chatter1D.ogg|bgs-chatter1E.ogg|bgs-chatter1F.ogg|bgs-chatter20.ogg|bgs-chatter21.ogg|bgs-chatter22.ogg|bgs-chatter23.ogg|bgs-chatter24.ogg|bgs-chatter25.ogg|bgs-chatter26.ogg|bgs-chatter27.ogg|bgs-chatter28.ogg|bgs-chatter29.ogg";
	BGS_COUNT = "%[bgs_fxCount0%]|%[bgs_fxCount1%]|%[bgs_fxCount2%]|%[bgs_fxCount3%]|%[bgs_fxCount4%]|%[bgs_fxCount5%]|%[bgs_fxCount6%]|%[bgs_fxCount7%]|%[bgs_fxCount8%]|%[bgs_fxCount9%]|%[bgs_fxCount10%]";
	BGS_INFS = "0 - Dampening jitter for joystick users.\n1 - Offset for countdown timer in s.\n2 - Chatter max pause.";
	BGS_INFE = "Sounds: Chatter, Countdown, Engine, EngineAmbient, Jump and ChatExpand.\nQMine - patches a sound to Quirium mines.\nShaders: Jump FX, Exit FX, Dock FX and Reduxed jump and dock shader.";
	BGS_HELP = "Properties:\n\n$pub\nHolds various entries for customization via other AddOns.\n\nAdditionally BGS uses some script_info keys.\n\nFor stations:\nbgs_tunnel_off: Bool. Disables the docking effect.\nbgs_tunnel_texture: String. Texture for docking effect.\nbgs_tunnel_brightness: Number. Default 0.4.\nbgs_tunnel_tint: String. Color for lines in docking effect.\nbgs_tunnel_shape: Number. Shape of docking effect.\n\nFor player ships:\nbgs_engineAmbi: String. Sound for the engine.\nbgs_engineDown. String. Sound for decelerating.\nbgs_engineUp. String. Sound for accelerating.\n\nEverything else is either user-setting and configurable via Lib_Config or subject to change anytime.\n\n";
	BGS_HELP_pub = "chat: Array. Holds filenames for aegis chatter.\nengineAmbi: String. Ambient sound while engine is running.\nengineDown: String. Sound for decelerating.\nengineUp: String. Sound for accelerating.\nwitch: Array. Countdown sounds starting with zero.\nwitchCNT: Number. Start countdown at +1.\nwitchG: String. Sound for galactic jump.\nwitchH: String. Sound for standard jump.\n\n";
}
