{
	author = "Svengali";
	category = "Ambience";
	description = "BackgroundSet - effects, ambient sounds and images.";
	identifier = "oolite.oxp.Svengali.BGS";
	information_url = "http://wiki.alioth.net/index.php/BGS";
	license = "CC-by-nc-sa 4.0";
	required_oolite_version = "1.88";
	requires_oxps = (
		{
			identifier = "oolite.oxp.Svengali.Library";
			version = "1.7.1";
			description = "Depends on Library 1.7.1.";
		}
	);
	tags = (
		"ambience",
		"adjustable",
		"audio",
		"backgrounds",
		"child",
		"dependencies",
		"effects",
		"images",
		"pictures",
		"shaders",
		"sounds",
		"user friendly",
		"visuals"
	);
	title = "BGS";
	version = "2.5.1";
}
